SSO_CLIENT_ID=citz-grs-dats-cirmo-imb-5623
SSO_CLIENT_SECRET=

S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT=https://citz-grs-dats.objectstore.gov.bc.ca
S3_BUCKET=dats-bucket-dev

CHES_CLIENT_ID=CDACC9DF-1C41E8835F4
CHES_CLIENT_SECRET=
CHES_ENVIRONMENT=dev
CHES_URL=https://ches-dev.api.gov.bc.ca/api/v1

ENVIRONMENT=dev

NODE_IMAGE_TAG=22.8-bullseye-slim
MONGO_IMAGE_TAG=8.0
RABBITMQ_IMAGE_TAG=4.0-alpine

INTERNAL_BACKEND_URL=http://express-api:3200

BACKEND_PORT=3200
MONGO_EXTERNAL_PORT=3300
RABBITMQ_EXTERNAL_PORT=3400

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=pass
MONGO_USER=admin
MONGO_PASSWORD=password
MONGO_DATABASE_NAME=dats

LIBSAFE_API_URL=https://ls.pre.bcmcz.libnova.com/api
LIBSAFE_API_KEY=
LIBSAFE_ARCHIVAL_STRUCTURE_ID=79
LIBSAFE_STORAGE_ID=1
LIBSAFE_WORKFLOW_ID=4
LIBSAFE_CONTAINER_METADATA_ID=12
LIBSAFE_METADATA_SCHEMA_ID=10
SAVE_TO_LIBSAFE=false # Set to true only in production environment or for testing

# LIBSAFE sign in: no-reply@dats.gov.bc.ca
