
.content {
    padding: 20px;
    text-align: center;
}

.icon {
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

h1, p {
    margin: 20px 0 10px;
    color: #000;
}

/* Responsive adjustments for collapsible menu */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        width: 100%;
    }

    .nav-links li a {
        padding: 10px;
    }
}
