@import "@bcgov/bc-sans/css/BC_Sans.css";

:root {
	--ev-c-white: #ffffff;
	--ev-c-white-soft: #f8f8f8;
	--ev-c-white-mute: #f2f2f2;

	--ev-c-black: #1b1b1f;
	--ev-c-black-soft: #222222;
	--ev-c-black-mute: #282828;

	--ev-c-gray-1: #515c67;
	--ev-c-gray-2: #414853;
	--ev-c-gray-3: #32363f;
	--ev-c-gray-4: #d9d9d9;

	--ev-c-text-1: #2c2d30;
	--ev-c-text-2: rgba(235, 235, 245, 0.6);
	--ev-c-text-3: rgba(235, 235, 245, 0.38);

	--ev-button-alt-border: transparent;
	--ev-button-alt-text: var(--ev-c-text-1);
	--ev-button-alt-bg: var(--ev-c-gray-3);
	--ev-button-alt-hover-border: transparent;
	--ev-button-alt-hover-text: var(--ev-c-text-1);
	--ev-button-alt-hover-bg: var(--ev-c-gray-2);
}

:root {
	--color-background: var(--ev-c-black);
	--color-background-soft: var(--ev-c-black-soft);
	--color-background-mute: var(--ev-c-black-mute);

	--color-text: var(--ev-c-text-1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

ul {
	list-style: none;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
	border-top: 1px solid #e3e3e3;
	min-height: 100vh;
	color: var(--color-text);
	background: white;
	line-height: 1.6;
	font-family: BC Sans, Calibri, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
