@import "@bcgov/bc-sans/css/BC_Sans.css";

:root {
	--button-disabled: #c9c9c9;

	--bcgov-blue: #234075;
	--bcgov-blue-navy: #38598a;
	--bcgov-light-blue: #1a5a96;
	--bcgov-dark-blue: #036;
	--bcgov-yellow: #fcba19;

	--file_upload_area-bg-invalid: #f4e1e2;
	--file_upload_area-bg-valid: #f1f8fe;
	--file_upload_area-bg-default: #ffffff;
	--file_upload_area-border-invalid: #ce3e39;
	--file_upload_area-border-valid: #1e5189;
	--file_upload_area-border-default: #898785;
	--file_upload_area-bg-uploaded-file: #f3f2f1;
	--file_upload_area-border-browse-button: #353433;

	--sub-agreement-border: #898785;
	--scroll-bar: #d9d9d9;

	--sidenav-icon: #474543;
	--sidenav-item-border-current-page: #2e5dd7;

	--tip: #878787;

	display: flex;
	width: 100%;
	height: 99.9vh;
	overflow: hidden;
	flex-direction: column;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

ol {
	list-style: decimal;
}

b {
	font-weight: 700;
}

#root {
	display: flex;
	width: 100%;
	height: 99.9vh;
	overflow: hidden;
	flex-direction: column;
}

body {
	width: 100%;
	height: 100%;
	user-select: none;
	overflow: "hidden";
	border-top: 1px solid #e3e3e3;
	color: var(--color-text);
	background: white;
	line-height: 1.6;
	font-family: BC Sans, Calibri, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
