@import "@bcgov/bc-sans/css/BC_Sans.css";

:root {
	--button-disabled: #c9c9c9;

	--bcgov-blue: #234075;
	--bcgov-blue-navy: #38598a;
	--bcgov-light-blue: #1a5a96;
	--bcgov-dark-blue: #036;
	--bcgov-yellow: #fcba19;

	--sub-agreement-border: #898785;
	--scroll-bar: #d9d9d9;

	--tip: #878787;

	display: flex;
	width: 100%;
	height: 99.9vh;
	overflow: hidden;
	flex-direction: column;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

ol {
	list-style: decimal;
}

b {
	font-weight: 700;
}

body {
	width: 100%;
	height: 100%;
	user-select: none;
	overflow: "hidden";
	border-top: 1px solid #e3e3e3;
	color: var(--color-text);
	background: white;
	line-height: 1.6;
	font-family: BC Sans, Calibri, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
