@import "./base.css";

body {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	user-select: none;
}

.status {
	margin-top: 20px;
	font-size: 18px;
	color: white;
}

code {
	font-weight: 600;
	padding: 3px 5px;
	border-radius: 2px;
	background-color: var(--color-background-mute);
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, "Liberation Mono", monospace;
	font-size: 85%;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 80px;
}

.logo {
	margin-bottom: 20px;
	-webkit-user-drag: none;
	height: 128px;
	width: 128px;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 1.2em #6988e6aa);
}

.creator {
	font-size: 14px;
	line-height: 16px;
	color: var(--ev-c-text-2);
	font-weight: 600;
	margin-bottom: 10px;
}

.text {
	font-size: 28px;
	color: var(--ev-c-text-1);
	font-weight: 700;
	line-height: 32px;
	text-align: center;
	margin: 0 10px;
	padding: 16px 0;
}

.tip {
	font-size: 16px;
	line-height: 24px;
	color: var(--ev-c-text-2);
	font-weight: 600;
}

.vpn-popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999; /* Ensures popup is on top of other content */
}

.vpn-popup {
	color: black;
	width: 90%;
	height: 90%;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.vpn-popup button {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.vpn-popup button:hover {
	background-color: #0056b3;
}

@media (max-width: 720px) {
	.text {
		font-size: 20px;
	}
}

@media (max-width: 620px) {
	.versions {
		display: none;
	}
}

@media (max-width: 350px) {
	.tip,
	.actions {
		display: none;
	}
}
