.card:hover {
  cursor: pointer;
  transform: translateY(-5px); /* Slightly lift the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

.card-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent element */
}
