name: 'Auto Assign'

on:
  pull_request:
    types:
    - opened
    - ready_for_review

jobs:
  add-assignee:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v2.0.0
        with:
          configuration-path: .github/config/auto-assign-config.yaml

